body {
    margin: 0;
    padding: 0;
    padding-bottom: 9em;
    color: #494e52;
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    line-height: 1.5;
}
p{
    font-size: 20px;
}
._0text1{
    font-size:13px !important;
}
._0text2{
    font-size:15px !important;
    /* font-weight: 400; */
    /* line-height: 1em; */
}
._details{
    /* margin-left: 0px !important; */
}
.social-icons{
    list-style-type: none;
    padding: 0;
}
.social-icons li{
    
    text-decoration: none;
}
.social-icons2 li{
    display: inline;
    text-decoration: none;
}
.social-icons2 a{
    list-style: none;
    text-decoration: none;
    color: #494e52;

}
.social-icons a{
    list-style: none;
    text-decoration: none;
    color: #494e52;

}
.footer ul{
float: left;
}
footer{
    color: #9ba1a6;
    width: 100%;
    margin-top: 48px;
    background-color: #f2f3f3;
    border-top: 1px solid #bdc1c4;
    clear: both;
    position: absolute;
}

footer a {
    text-decoration: none;
}

@media only screen and (min-width: 1025px) {
    .details{
        justify-content: center;
    }
}